:host {
}

.panel {
	--panel-bg-color1: #131313;
	--panel-bg-color2: #2a2929;
	--panel-accent-color: #00bcff;
	--panel-accent-color: #2ce070;
}

.panel__content {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.profile {
	display: flex;
	flex-direction: row;
	align-items: start;
	gap: 1rem;
	margin-bottom: 0.25rem;
}

.profile__details {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	gap: 0.5rem;
}

.profile__avatar-wrapper {
	width: 6rem;
	height: 6rem;
	margin: 0;
	padding: 0;
}

.profile__avatar {
	flex: 0 0 auto;
	width: 6rem;
	height: 6rem;
	border-radius: 0.25rem;
	object-fit: cover;
}

.profile__name {
	font-size: 1.25rem;
	font-weight: 600;
	font-family: var(--font-header);
	line-height: 1;
}

.profile__key {
	font-size: 0.75rem;
	color: #999;
	font-family: var(--font-body);
}

.profile__faction {
	width: 2.5rem;
	height: 2.5rem;
}

.faction__icon {
	width: 2.5rem;
	height: 2.5rem;
	object-fit: cover;
}

.dac__logo {
	width: 2.5rem;
	height: 2.5rem;
	object-fit: cover;
}

.profile__dac-list {
	list-style: none;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.5rem;
	margin: 0;
	padding: 0;
	width: 6rem;
	height: 6rem;


	&.dac-list--1 {
		.dac__logo {
			width: 6rem;
			height: 6rem;
		}
	}

	&.dac-list--2 {
		position: relative;

		> li {
			position: absolute;
			top: 0;
			left: 0;
			width: 6rem;
			height: 6rem;
		}

		.dac__logo {
			width: 6rem;
			height: 6rem;
		}

		li:nth-child(1) {
			clip-path: polygon(0 0, calc(100% - 4px) 0, 0 calc(100% - 4px));
		}

		li:nth-child(2) {
			clip-path: polygon(100% 4px, 100% 100%, 4px 100%);
		}
	}


	&.dac-list--3,
	&.dac-list--4 {
		display: grid;
		grid-template-columns: repeat(2, 2.875rem);
		grid-template-rows: repeat(2, 2.875rem);
		gap: 0.25rem;

		> li,
		.dac__logo {
			width: 2.875rem;
			height: 2.875rem;
			box-sizing: border-box;
		}
	}
}

.dac__surplus {
	border: 2px dashed rgba(255, 255, 255, 0.3);
	background-color: var(--panel-bg-color1);
	color: rgba(255, 255, 255, 0.7);
	font-size: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.subprofile-list {
	list-style: none;
	display: flex;
	flex-direction: column;
	margin: 0 0 0 3.5rem;
	padding: 0;
	gap: 0.25rem;
}

.subprofile__item {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	gap: 0.25rem;

	> * {
		display: flex;
		align-items: center;
		background-color: var(--panel-bg-color1);
	}
}

.subprofile__number {
	width: 2.5rem;
	box-sizing: border-box;
	font-family: var(--font-header);
	font-size: 1rem;
	font-weight: 500;
	padding: 0 0.5rem;
	justify-content: center;
	color: rgba(255, 255, 255, 0.7);
}

.subprofile__details {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	gap: 0.125rem;
	flex-grow: 1;
	padding: 0.25rem 0.25rem;
}

.subprofile__name {
	font-size: 0.75rem;
	font-weight: 500;
	color: rgba(255, 255, 255, 0.7);
	letter-spacing: 0.04em;
	/* text-transform: uppercase; */
	line-height: 1;
}

.subprofile__key {
	font-size: 0.675rem;
	color: rgba(255, 255, 255, 0.5);
	font-family: var(--font-body);
	line-height: 1;
}

.subprofile__faction {
	padding: 0 0.25rem;
}

.subprofile__faction img {
	width: 1.75rem;
	height: 1.75rem;
	object-fit: cover;
}

.subprofile__dacs {
	list-style: none;
	display: flex;
	align-items: center;
	gap: 0.25rem;
	max-width: 4.75rem;
	box-sizing: border-box;
	margin: 0;
	padding: 0 0.25rem;
}

.subprofile__dacs li {
	display: flex;
	align-items: center;
	justify-content: center;
}

.subprofile__dacs img,
.subprofile__dacs .dac__surplus {
	width: 2rem;
	height: 2rem;
	object-fit: cover;
	font-size: 0.75rem;
	border-width: 1px;
	background-color: black;;
}