using-nucleo-svg-icons
.system/.codex-system-skills.marker
.system/imagegen/agents/openai.yaml
.system/imagegen/assets/imagegen-small.svg
.system/imagegen/assets/imagegen.png
.system/imagegen/LICENSE.txt
.system/imagegen/references/cli.md
.system/imagegen/references/codex-network.md
.system/imagegen/references/image-api.md
.system/imagegen/references/prompting.md
.system/imagegen/references/sample-prompts.md
.system/imagegen/scripts/image_gen.py
.system/imagegen/scripts/remove_chroma_key.py
.system/imagegen/SKILL.md
.system/openai-docs/agents/openai.yaml
.system/openai-docs/assets/openai-small.svg
.system/openai-docs/assets/openai.png
.system/openai-docs/LICENSE.txt
.system/openai-docs/references/latest-model.md
.system/openai-docs/references/prompting-guide.md
.system/openai-docs/references/upgrade-guide.md
.system/openai-docs/scripts/resolve-latest-model-info.js
.system/openai-docs/SKILL.md
.system/plugin-creator/agents/openai.yaml
.system/plugin-creator/assets/plugin-creator-small.svg
.system/plugin-creator/assets/plugin-creator.png
.system/plugin-creator/references/plugin-json-spec.md
.system/plugin-creator/scripts/create_basic_plugin.py
.system/plugin-creator/SKILL.md
.system/skill-creator/agents/openai.yaml
.system/skill-creator/assets/skill-creator-small.svg
.system/skill-creator/assets/skill-creator.png
.system/skill-creator/license.txt
.system/skill-creator/references/openai_yaml.md
.system/skill-creator/scripts/generate_openai_yaml.py
.system/skill-creator/scripts/init_skill.py
.system/skill-creator/scripts/quick_validate.py
.system/skill-creator/SKILL.md
.system/skill-installer/agents/openai.yaml
.system/skill-installer/assets/skill-installer-small.svg
.system/skill-installer/assets/skill-installer.png
.system/skill-installer/LICENSE.txt
.system/skill-installer/scripts/github_utils.py
.system/skill-installer/scripts/install-skill-from-github.py
.system/skill-installer/scripts/list-skills.py
.system/skill-installer/SKILL.md
